<tr>
  <td><%= link_to license.item, license, class: 'text-primary' %></td>
  <td><%= license.key %></td>
  <td><%= link_to(license.device.item, license.device, class: 'text-muted') if license.device %></td>
  <td><%= truncate license.notes %></td>
</tr>
