<div class="level">
  <div class="level-left">
    <h3 class="title is-3">People</h3>
  </div>
  <div class="level-right">
    <div class="dropdown">
      <div class="dropdown-trigger is-hoverable">
        <button class="button" aria-haspopup="true" aria-controls="dropdown-menu2">
          <span>Action</span>
          <span class="icon is-small">
            <i class="fas fa-angle-down" aria-hidden="true"></i>
          </span>
        </button>
      </div>
      <div class="dropdown-menu" id="dropdown-menu2" role="menu">
        <div class="dropdown-content">
          <%= link_to 'Add Person', new_person_path, class: 'dropdown-item' %>
        </div>
      </div>
    </div>
  </div>
</div>

<hr />

<div class="block">
  <p>The People section allows you to manage the individuals within your organization who are eligible to be assigned devices.</p>
</div>

<table class="table people-datatable">
  <thead>
    <tr>
      <th>Name</th>
      <th>E-Mail Address</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <%= render @people %>
  </tbody>
</table>
