<div class="level">
  <div class="level-left">
    <h3 class="title is-3">People</h3>
  </div>
  <div class="level-right">
    <%= link_to 'Add Person', new_person_path, class: 'button' %>
  </div>
</div>

<hr />

<div class="block">
  <p>The People section allows you to manage the individuals within your organization who are eligible to be assigned devices.</p>
</div>

<table class="table people-datatable">
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    <%= render @people %>
  </tbody>
</table>
