<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Asset Label</title>

  <style type="text/css">
    #dotted-container {
      border: 3px dashed #ccc;
    }

    #label {
      background-color: black;
      border-radius: 8px;
      color: white;
      font-family: Arial, sans-serif;
      font-size: 9pt;
      height: 1in;
      text-align: center;
      width: 2in;
    }

    #company-name {
      font-weight: bold;
    }

    #asset-number {
      background-color: white;
      border-radius: 4px;
      color: black;
      font-size: 16pt;
      width: 90%;
    }

    #address {
      font-size: 8pt;
    }
  </style>
</head>
<body>
  <table cellpadding="20">
    <tr>
      <td id="dotted-container">
        <table id="label">
          <tr><td align="center">PROPERTY OF</td></tr>
          <tr><td id="company-name" align="center"><%= ENV['COMPANY_NAME'].try(:upcase) %></td></tr>
          <tr><td align="center"><div id="asset-number"><%= @device.asset_number %></div></td></tr>
          <tr><td id="address" align="center"><%= ENV['COMPANY_CITY'].try(:upcase) %>, <%= ENV['COMPANY_STATE'].try(:upcase) %></td></tr>
        </table>
      </td>
    </tr>
  </table>
</body>
</html>
