<h3 class="title is-3">Reports</h3>

<hr />

<ul>
  <li><%= link_to 'Location Inventory', location_inventory_reports_path %></li>
  <li><%= link_to 'Device Aging', device_aging_reports_path %></li>
</ul>
