<div class="level">
  <div class="level-left">
    <h3 class="title is-3">Locations</h3>
  </div>
  <div class="level-right">
    <%= link_to 'Add Location', new_location_path, class: 'button' %>
  </div>
</div>

<hr />

<div class="block">
  <p>The Locations section allows you to manage the physical spaces where your IT assets are stored or assigned. This section enables you to add, edit, or remove offices, departments, or any other physical locations where devices can be located within your organization.</p>
</div>

<div class="block">
<table class="table location-datatable">
  <thead>
    <tr>
      <th>Name</th>
      <th>Device Count</th>
    </tr>
  </thead>
  <tbody>
    <%= render @locations %>
  </tbody>
</table>
</block>
