<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong><a class="has-text-black" href="https://github.com/ianulery/asset-manager" target="_blank">Asset Manager</a></strong> by <a class="has-text-black" href="https://www.ianulery.com" target="_blank">Ian Ulery</a>.
      The source code is licensed
      <a class="has-text-black" href="https://opensource.org/license/mit" target="_blank">MIT</a>.
    </p>
  </div>
</footer>
